html, body, h1, h2, h3, h4, h5, h6, div, p, input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Baloo Bhai', cursive;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  background-image: radial-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/docs/background.jpg");
  background-size: cover;
}

canvas[resize] {
  display: block;
  height: 100%;
  width: 100%;
}

#myCanvas {
  display: block;
  margin: 0 auto;
  border: 3px solid white;
}

h1, label, input, #timer {
  color: white;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15%;
}

h1 {
  font-size: 48px;
  text-align: center;
}

input[type="text"] {
  padding: 0 5px;
  border: 0;
  background: rgba(255,255,255,0.3);
}

input[type="color"] {
  background: transparent;
}

.playback-container {
  display: flex;
  justify-content: center;
}

.playback {
  display: block;
  font-size: 24px;
  outline: 0;
  border: 1px solid black;
  border-radius: 10px;
  background: white;
  margin: 15px;
}

.playback:hover {
  cursor: pointer;
  background: rgba(200,200,200,1);
}

#play-button {
  display: none;
}

#pause-button {
  display: block;
}

.settings {
  display: flex;
  justify-content: space-between;
}

.sliders, .colors, .display {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: rgba(0,0,0,0.5);
  height: 100%;
}

.display {
  min-width: 120px;
}

.links {
  display: flex;
  flex-direction: column;
}

a {
  color: white;
}

a:hover {
  color: rgba(200,200,200,1);
}

i {
  font-size: 60px;
  padding: 10px;
}

.about-container {
  display: flex;
  align-items: center;
}

#about {
  font-size: 30px;
  margin-left: 15px;
  color: white;
}

#about:hover {
  cursor: pointer;
  color: rgba(200,200,200,1);
}

#modal-background {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
  height: 100%;
  width: 100%;
}

#modal-content {
  margin: 200px auto;
  width: 30%;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}

#settings-changed {
  opacity: 0;
  display: flex;
  justify-content: center;
  transition: opacity 0.2s;
  margin: 0 0 10px 0;
}

#settings-changed > p {
  background: rgba(255,255,255,0.5);
  border-radius: 5px;
  padding: 2px 10px;
}
