html, body, h1, h2, h3, h4, h5, h6, div, p, input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: 'Baloo Bhai', cursive;
}

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

html {
  background-image: radial-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://raw.githubusercontent.com/stevielum1/viral_canvas/master/background.jpg");
  background-size: cover;
}

canvas[resize] {
  display: block;
  height: 100%;
  width: 100%;
}

#myCanvas {
  display: block;
  border: 3px solid white;
  margin: 0 auto;
}

h1, label, input, #timer {
  color: white;
}

.title-container {
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
}

.title-container > h1 {
  font-size: 48px;
}

input[type="text"] {
  padding: 0 5px;
  border: 0;
  background: rgba(255,255,255,0.3);
}

input[type="color"] {
  background: transparent;
}

.playback-wrapper {
  margin: 0 auto;
}

.playback-container {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.playback {
  display: block;
  font-size: 24px;
  outline: 0;
  border: 1px solid black;
  border-radius: 10px;
  background: white;
  margin-top: 25px;
}

.playback:hover {
  cursor: pointer;
  background: rgba(200,200,200,1);
}

#play-button {
  display: none;
}

#pause-button {
  display: block;
}

.settings-container {
  display: flex;
  justify-content: space-between;
}

.settings {
  display: flex;
  justify-content: space-between;
  margin: 0 25px;
  width: 100%;
}

.sliders, .colors, .display {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background: rgba(0,0,0,0.5);
  height: 100%;
  border: 1px solid white;
  box-sizing: border-box;
  width: 33.33%;
}

.sliders, .colors {
  margin-right: 25px;
}

.display {
  min-width: 120px;
}

a {
  color: white;
}

a:hover {
  color: rgba(200,200,200,1);
}

i {
  font-size: 60px;
  padding: 10px;
}

#about:hover {
  cursor: pointer;
  color: rgba(200,200,200,1);
}

#modal-background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 3;
  height: 100%;
  width: 100%;
}

#modal-content {
  margin: 150px auto;
  width: 50%;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

#settings-changed {
  opacity: 0;
  display: flex;
  justify-content: center;
  position: fixed;
  transition: opacity 0.2s;
  width: 100%;
}

#settings-changed > p {
  font-size: 24px;
  background: rgba(255,255,255,0.8);
  border-radius: 5px;
  padding: 2px 10px;
}

#canvas-container {
  display: flex;
  justify-content: space-between;
  margin: 25px;
}
